*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(https://us.pandora.net/on/demandware.static/-/Sites-pandora-storefront-catalog-en-US/default/dwedf72d83/cat_banners/Q1_Charms_PLP.jpg);
}