*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.divSection{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: 8%;

    .section{
        display: flex;
        width: 80%;
        height: 90vh;
        justify-content: space-between;

        .imgBox{
            width: 45%;
            height: 90vh;
         
            
            img{
                width: 100%;
            }
        }


        .texts{
            display: flex;
            padding: 110px;
            letter-spacing: 2px;
            flex-direction: column;
            gap: 10px;
            height: 95vh;
            width: 55%;
            -webkit-box-shadow: inset 0px 0px 105px -200px rgba(0,0,0,1);
-moz-box-shadow: inset 0px 0px 105px -200px rgba(0,0,0,1);
box-shadow: inset 0px 0px 105px -200px rgba(0,0,0,1);

            h1{
                font-size: 56px;
                color: #f796a5;
            }
            h2{
                font-size: 45px;
                font-weight: 400;
            }
            h3{
                font-size: 45px;
                font-weight: 700;
            }

            p{
                font-size: 20px;
                font-weight: 400;
                color: rgb(82, 79, 79);
            }
        }
    }
}



